@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <title>The Car Hub</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <main>
        <img src="/images/home/the_car_hub_logo.png" alt="logo">
        <section class="hero">
            <h2>Upgrade your ride without breaking the bank!</h2>
            <p>Welcome to The Car Hub, your local used car dealership. We offer a wide selection of quality pre-owned vehicles at affordable prices. Contact us today to schedule a test drive.</p>
            <a asp-controller="AvailableCars" asp-action="Index" class="btnViewInventory">View Inventory</a>
        </section>
        <section class="featured-cars">
            <h2>Featured Cars</h2>
            <div class="car-list">
                <div class="car-card">
                    <img src="~/images/home/car1.png" alt="Car 1">
                    <h3>2015 Toyota Camry</h3>
                    <p>$12,500</p>
                </div>
                <div class="car-card">
                    <img src="/images/home/car2.png" alt="Car 2">
                    <h3>2016 Honda Civic</h3>
                    <p>$14,000</p>
                </div>
                <div class="car-card">
                    <img src="~/images/home/car3.png" alt="Car 3">
                    <h3>2014 Nissan Altima</h3>
                    <p>$10,500</p>
                </div>
            </div>
        </section>
    </main>

    ,
</body>
</html>